
@{
    ViewBag.Title = "Links";
}

<div class="block" style="background-color:#F4623A">
    <p>
        <br /><br /><br />
    </p>
</div>

<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Links</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                    <h3 class="h4 mb-2">LinkedIn Personal Site</h3>

                </div>
            </div>
        </div>
    </div>

    <div>
        <a style="margin-left:8em;" href="https://www.linkedin.com/in/BenjaminJMcD" target="_blank" title="LinkedInPersonal">
            <img src="~/Content/assets/LinkedInProfile.png" alt="LinkedIn Profile" />
        </a>
    </div>
    <div>
        <p><br /> <br /></p>
        <div class="container px-4 px-lg-5">
            <h3 class="h4 mb-2">LinkedIn Classmate's Sites</h3>
        </div>
        <section class="row">
            <div class="col-sm-3" style="margin-left:8em;">
                <a style="float:left;" href="https://www.linkedin.com/in/mattroberts-dev" target="_blank" title="LinkedInMatt"><img src="~/Content/assets/MattRobertsProfile.jfif" /></a>
                <h5><a href="linkedin.com/in/mattroberts-dev">Matt Roberts</a></h5>
            </div>
            <div class="col-sm-3" style="margin-left:8em">
                <a style="float:left;" href="https://www.linkedin.com/in/jazmine-rizo-7aa283232" target="_blank" title="LinkedInJazmine"><img src="~/Content/assets/JazRizoProfile.jfif" /></a>
                <h5><a href="linkedin.com/in/mattroberts-dev">Jazmine Rizo</a></h5>
            </div>
            <div class="col-sm-3" style="margin-left:8em">
                <a style="float:left;" href="https://www.linkedin.com/in/ian-mcclaflin-982755232" target="_blank" title="LinkedInIan"><img src="~/Content/assets/IanMcClaflinProfile.jfif" /></a>
                <h5><a href="linkedin.com/in/mattroberts-dev">Ian McClaflin</a></h5>
            </div>
        </section>
    </div>
</section>

