
@{
    ViewBag.Title = "Links";
}

<div class="block" style="background-color:#F4623A">
    <p>
        <br /><br /><br />
    </p>
</div>

<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Links</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                    <h3 class="h4 mb-2">LinkedIn Personal Site</h3>

                </div>
            </div>
        </div>
    </div>

    <div>
        <a style="margin-left:8em;" href="https://www.linkedin.com/in/BenjaminJMcD" target="_blank" title="LinkedInPersonal">
            <img src="~/Content/assets/LinkedInProfile.png" alt="LinkedIn Profile" />
        </a>
    </div>
    <div>
        <p><br /> <br /></p>
        <div class="container px-4 px-lg-5">
            <h3 class="h4 mb-2">LinkedIn Classmate's Sites</h3>
        </div>
        <section class="row">
            <div class="col-sm-3" style="margin-left:8em;margin-bottom:2em;">
                <a style="float:left;" href="https://www.linkedin.com/in/mattroberts-dev" target="_blank" title="LinkedInMatt"><img src="~/Content/assets/MattRoberts.jpg" style="max-width:200px;" /></a>
                <h5><a href="linkedin.com/in/mattroberts-dev">Matt Roberts</a></h5>
            </div>
            <div class="col-sm-3" style="margin-left:2em; margin-bottom:2em;">
                <a style="float:left;" href="https://www.linkedin.com/in/jazmine-rizo-7aa283232" target="_blank" title="LinkedInJazmine"><img src="~/Content/assets/JazmineRizo.jpg" style="max-width:200px;" /></a>
                <h5><a href="linkedin.com/in/jazmine-rizo-7aa283232">Jazmine Rizo</a></h5>
            </div>
            <div class="col-sm-3" style="margin-left:2em; margin-bottom:2em;">
                <a style="float:left;" href="https://www.linkedin.com/in/enrique-garcia1010/" target="_blank" title="LinkedInEnrique"><img src="~/Content/assets/EnriqueGarcia.jpg" style="max-width:200px;" /></a>
                <h5><a href="linkedin.com/in/enrique-garcia1010/">Enrique Garcia</a></h5>
            </div>
            <div class="col-sm-3" style="margin-left:8em; margin-bottom:2em;">
                <a style="float:left;" href="https://www.linkedin.com/in/ian-mcclaflin-982755232" target="_blank" title="LinkedInIan"><img src="~/Content/assets/IanMcClaflin.jpg" style="max-width:200px;" /></a>
                <h5><a href="linkedin.com/in/ian-mcclaflin-982755232">Ian McClaflin</a></h5>
            </div>
            <div class="col-sm-3" style="margin-left:2em; margin-bottom:2em;">
                <a style="float:left;" href="https://www.linkedin.com/in/alex-klee-6b962a232/" target="_blank" title="LinkedInAlex"><img src="~/Content/assets/AlexKlee.jpg" style="max-width:200px;" /></a>
                <h5><a href="linkedin.com/in/alex-klee-6b962a232/">Alex Klee</a></h5>
            </div>
            <div class="col-sm-3" style="margin-left:2em; margin-bottom:2em;">
                <a style="float:left;" href="https://www.linkedin.com/in/connor-dunn-396188233/" target="_blank" title="LinkedInConnor"><img src="~/Content/assets/ConnorDunn.jpg" style="max-width:200px;" /></a>
                <h5><a href="linkedin.com/in/connor-dunn-396188233/">Connor Dunn</a></h5>
            </div>
            <div class="col-sm-3" style="margin-left:8em; margin-bottom:2em;">
                <a style="float:left;" href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="_blank" title="LinkedInJustin"><img src="~/Content/assets/JustinPeacock.jpg" style="max-width:200px;" /></a>
                <h5><a href="linkedin.com/in/justin-peacock-6aa829229/">Justin Peacock</a></h5>
            </div>
            <div class="col-sm-3" style="margin-left:2em; margin-bottom:2em;">
                <a style="float:left;" href="https://www.linkedin.com/in/sean-a-mckinney/" target="_blank" title="LinkedInSean"><img src="~/Content/assets/SeanMcKinney.jpg" style="max-width:200px;" /></a>
                <h5><a href="linkedin.com/in/sean-a-mckinney/">Sean McKinney</a></h5>
            </div>
            <div class="col-sm-3" style="margin-left:2em; margin-bottom:2em;">
                <a style="float:left;" href="https://www.linkedin.com/in/aus-wallace/" target="_blank" title="LinkedInAustin"><img src="~/Content/assets/AustinWallace.jpg" style="max-width:200px;" /></a>
                <h5><a href="linkedin.com/in/aus-wallace/">Austin Wallace</a></h5>
            </div>
            <div class="col-sm-3" style="margin-left:8em; margin-bottom:2em;">
                <a style="float:left;" href="https://www.linkedin.com/in/romeo-bagunu/" target="_blank" title="LinkedInRomeo"><img src="~/Content/assets/RomeoBagunu.jpg" style="max-width:200px;" /></a>
                <h5><a href="linkedin.com/in/romeo-bagunu/">Romeo Bagunu</a></h5>
            </div>
            <div class="col-sm-3" style="margin-left:2em; margin-bottom:2em;">
                <a style="float:left;" href="https://www.linkedin.com/in/kayla-n-nguyen/" target="_blank" title="LinkedInKayla"><img src="~/Content/assets/KaylaNguyen.jpg" style="max-width:200px;" /></a>
                <h5><a href="linkedin.com/in/kayla-n-nguyen/">Kayla Nguyen</a></h5>
            </div>
            <div class="col-sm-3" style="margin-left:2em; margin-bottom:2em;">
                <a style="float:left;" href="https://www.linkedin.com/in/zakary-sisler/" target="_blank" title="LinkedInZak"><img src="~/Content/assets/ZakarySisler.jpg" style="max-width:200px;" /></a>
                <h5><a href="linkedin.com/in/zakary-sisler/">Zakary Sisler</a></h5>
            </div>
            <div class="col-sm-3" style="margin-left:8em; margin-bottom:2em;">
                <a style="float:left;" href="https://www.linkedin.com/in/michael-redifer-202288232/" target="_blank" title="LinkedInMichael"><img src="~/Content/assets/MichaelRedifer.jpg" style="max-width:200px;" /></a>
                <h5><a href="linkedin.com/in/michael-redifer-202288232/">Michael Redifer</a></h5>
            </div>
        </section>
    </div>
</section>

