
@{
    ViewBag.Title = "Projects";
}

<div class="block" style="background-color:#F4623A">
    <p>
        <br /><br /><br />
    </p>
</div>
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-4">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="http://www.fed1sp.benjaminjmcd.com/" target="_blank" title="Week 1! We learned about Front-End Dev and created a website from scratch">
                    <img class="img-fluid" src="~/Content/assets/Fed1resize.jpeg" alt="Link to HTML C# Website" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">HTML and CSS</div>
                        <div class="project-name">Front End Dev Web Page</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://github.com/BenjaminJMcD/DungeonAppHWK" target="_blank" title="Week 2! Middle-Tier C# logic had us creating a classic dungeon app like from the 90s">
                    <img class="img-fluid" src="~/Content/assets/DungeonProgram.png" alt="C# Dungeon Project" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">C#</div>
                        <div class="project-name">Classic Dungeon Program!</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://github.com/BenjaminJMcD/ToDoAPI.git" title="API Remote Database for my React ToDo Webpage">
                    <img class="img-fluid" src="~/Content/assets/ToDoAPIPostman.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">.NET ToDo Web API</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="http://storefront.BenjaminJMcD.com" title="Store Front MVC application with session based shopping cart">
                    <img class="img-fluid" src="~/Content/assets/StoreFrontBetter.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">StoreFront</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://github.com/BenjaminJMcD/React_ToDo" title="Spring Cleaning To Do List created with React">
                    <img class="img-fluid" src="~/Content/assets/ReactToDo.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">React ToDo App</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="~/Content/assets/PinkRecord.JPG" title="Project Name">
                    <img class="img-fluid" src="~/Content/assets/PinkRecord.JPG" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
  $( function() {
    $( document ).tooltip();
  } );
</script>
<style>
    label {
        display: inline-block;
        width: 5em;
    }
</style>

