
@{
    ViewBag.Title = "Resume";
}

<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Resume</h2>
                <hr class="divider divider-light" />
                <!--<p class="text-white-75 mb-4">Have a look!</p>-->

                <a style="color:white;" href="~/_archive/assets/ResumeBJM-Revised3-1-22-converted.pdf" target="_blank">Link to download PDF file</a>
            </div>
        </div>
    </div>
    <div>
        <p align="center"><iframe src="https://docs.google.com/document/d/e/2PACX-1vTsSeUOWjwibq0u1SoBc9ux3cknjkH17LiuxAMpXYmDzU7cDw-Tzgr533oY5Af-Lk8BqUhvm6bisGZt/pub?embedded=true" style="width:65%; height: 400px;">Resume - Benjamin J McDaniel</iframe></p>
    </div>
</section>

